<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="MonitorSettings">
      <section name="appPools" type="System.Configuration.NameValueSectionHandler" />
      <section name="Applications" type="System.Configuration.NameValueSectionHandler" />
    </sectionGroup>
    <!--#<section name="appPools" type="AppDynamicsCoreMetricsMonitor.AppPoolsConfig, AppDynamicsCoreMetricsMonitor"/>-->
  </configSections>

  <appSettings>
    <!--These settings should not be touched-->
    <add key="LoggingLevel" value="DEBUG" />
    <add key="DebugLevel" value="DEBUG" />
    <add key="ConsoleOutput" value="true" />
    <add key="APIOutput" value="false" />
    <add key="AnalyticsListener" value="http://EDWARDFERROFB8A:8293/" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="Interval" value="15000"/>
    <add key="DebugLogPath" value="c:\programdata\appdynamics\logs\service.log" />
  </appSettings>
  <!--The following settings will target the processes that are being monitored-->
  <MonitorSettings>
    <!--The following should be for Services and Applications 
         key = Name of Process in Tasklist (without .exe)
         value = collect data true/false
    -->
    <Applications>
      <add key="democore3" value="true" />
    </Applications>
    <!--The following target AppPools These should be the names of AppPools that are configured.
         key = Name of AppPool
         value = collect data true/false
    -->
    <appPools>
      <add key="democore3" value="true" />
    </appPools>
  </MonitorSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <system.net>
    <defaultProxy>
      <proxy bypassonlocal="false" usesystemdefault="true" />
    </defaultProxy>
  </system.net>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Win32.Registry" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>